@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

#nprogress .bar {
  background: #2B5CAB; /* Blue color */
}
#nprogress .peg {
  box-shadow: 0 0 10px #2B5CAB, 0 0 5px #2B5CAB; /* Blue color */
}
#nprogress .spinner-icon {
  border-top-color: #2B5CAB; /* Blue color */
  border-left-color: #2B5CAB; /* Blue color */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #2B5CAB; /* Change the color to #2B5CAB */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #011535; /* Change the color to a darker #2B5CAB */
}
